.comment {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	border-top: 2px solid rgb(var(--theme-accent));
	padding-top: .4em;
}

.comment-icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	border-radius: 50%;
	height: 60px;
	width: 60px;
	background-color: rgb(var(--theme-accent));
}

.comment-author {
	width: calc(100% - 60px);
	padding: 0 .6em;
}

.comment-content {
	padding: 1em .6em;
}